{% extends "layout.html" %}

{% block head %}
    <style media="screen">
        .my-container
        {
            padding: 8px;
            border: 10px solid white;
            border-radius: 14px;
        }
    </style>

    <!--Icon-->
    <link href = "static/icons/icons8-home-64.png" rel = "icon">
{% endblock %}

{% block title %}
	 Review someone's mind
{% endblock %}

{% block body %}
	<div class = "container container-fluid search-container mt-3">
		<div class = "row search-row justify-content-center">
			{% for book  in books %}
				<div class = "col-lg-4 col-md-5 col-sm-6 col-8 my-container bg-dark text-white">
				  	<ul style="font-size: 20px">
				  	<h3>{{ book.title }}</h3>
						<li> Author: {{ book.author }}</li>
						<li> ISBN: {{ book.isbn }}</li>
						<li> Year: {{ book.year }}</li>
						<li> Average Ratings: </li>
                        <li> Goodreads Count:</li>
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
