{% extends "layout.html" %}

{% block head %}
     <link href = "{{ url_for('static', filename = 'styles/homepage_style.css')}}" 	rel = "stylesheet">

    <!--Icon-->
    <link href = "static/icons/icons8-books-48.png" rel = "icon">
{% endblock %}

{% block title %}
	| Review someone's mind
{% endblock %}

{% block body %}
	<div class = "container">
		<div class = "col-lg-4">
			{% for book  in books %}
				<div class = "container p-4 my-5 bg-dark text-white">
				  	<ul style="font-size: 20px">
				  	<h1>{{ book.title }}</h1>
						<li> Author: {{ book.author }}</li>
						<li> ISBN: {{ book.isbn }}</li>
						<li> Year: {{ book.year }}</li>
						<li> Average Ratings: </li>
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>

	<footer class = "button">
       	Andrømed &copy; 2020
    </footer>

{% endblock %}
