{% extends "layout.html" %}

{% block head %}
    <link href = "{{ url_for('static', filename = 'styles/register_style.css') }}" 
        rel = "stylesheet">

    <!--Icon-->
    <link href = "static/icons/icons8-login-64.png" rel = "icon">
{% endblock %}

{% block title %} 
   | Register and walk through World of Books!
{% endblock %}

{% block body %}
    <!--TODO: Add NavBar with: App Name, LogIn, LogOut, Register, etc-->
        <!--TODO: Add NavBar with: App Name, LogIn, LogOut, Register, etc-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar">
        <div> Books </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link mr-5" href = "{{ url_for('homepage') }}">
                World of Books!</a>
              <a class="nav-item nav-link mr-5" href = "{{ url_for('login') }}">
                Login</a>
          </div>
        </div>
    </nav>
    
          <div class="container my-container">
  <form action = "{{url_for('register_user')}}" method="post">  
      <div class = "form-text h1 login-input form-heading mt-4">
        It ticks 15s while registering!</div>
 
      <div class = "form-group form-text h3">
          <input type="email" class="form-control login-input" id="exampleInputEmail1"  aria-describedby="emailHelp" placeholder="Enter email" name="user_name">
      </div>
      <div class = "form-group">
          <input type="password" class="form-control login-input" id="          exampleInputPassword1" name = "user_pass" placeholder="Password">
      </div>
      <div class = "form-group">
          <input type="password" class="form-control login-input" id="          exampleInputPassword1" placeholder="Re-type Password" name="user_pass_re">
      </div>
      <div class="login-submit-container">
        <button type="submit"class="btn btn-primary login-submit-button">Submit</button>
      </div>
  </form>
  </div>
  
{% endblock %}