{% extends "layout.html" %}

{% block head %}
	<link href = "{{url_for('static', filename = 'styles/search_style.css')}}" rel = "stylesheet">
	<!--Icon-->
	<link href = "static/icons/icons8-books-64.png" rel = "icon">
{% endblock %}

{% block title %}
	| Book Details
{% endblock %}

{% block body %}

    <div class="container container-fluid search-container">
    	<div class="row justify-content-center">
    		<div class="col-lg-4 col-md-5 col-sm-6 col-8 pt-3">
    			{% for book in books %}
			        <div class="card">
			        	<div class="card-header">
			     			{{ book.author }}, {{ book.year }}
			            </div>
			        	<div class="card-body">
				            <h3 class="card-title">{{ book.title }}</h3>
				            <p class="card-text">ISBN : {{ book.isbn }}</p>
				            <a href="{{ url_for('book', details = book.isbn) }}"
			            		class="btn btn-primary">Go to book page</a>
			        	</div>
			    	</div>
		        {% endfor %}
		    </div>
    	</div>
	</div>

	<footer class = "button">
       	Andrømed &copy; 2020
    </footer>
{% endblock %}
