nav
{
   font-size: 20px;
}

hr 
{
    height: 0;
    margin-bottom: 15px;
    background-color: gray;
}

/*Footer*/
footer
{
    color: grey;         /* Gray */
    text-decoration: none !important;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
}

/*Hower Over Effect*/
.button
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
}

.button:hover
{
    background-color: white;
    color: rgb(120,81,169);    
}
