.container
{
	font-family: Arial;
  	margin: auto; /* Center website */
  	margin-top: 20px;
  	max-width: 700px; /* Max width */
}

.box-item 
{
	font-size: 24px;
}

#details
{
	font-size: 30px;
}

.checked: visited
{
	color: orange;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) 
{
   .side, .middle 
   {
   		width: 100%;
   }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}