nav
{
   font-size: 20px;
}

.my-container
{
  max-width: 700px;
  margin: auto;
}


/*Footer*/
footer
{
	margin: 20px;
    padding: 10px;
    color: grey;         /* Gray */
    text-decoration: none !important;
    text-align: center;
    font-size: 20px;
}

/*Hower Over Effect*/
.button
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;    
}

.button:hover
{
    background-color: white;
    color: rgb(120,81,169);    
}